.form {
  padding-top: 20px;
  width: '80%';
  height: calc(70vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  margin: 0 auto;
}

.form :nth-child(1)  {
  font-size: 20px;
}
